html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Indie Flower', cursive;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-time {
  background-color: orange;
  border: 2px solid black;
  width: 500px;

}

.date-time p {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-size: 40px;
  font-weight: bold;
}
